{
  "output": "eDP-2",
  "layer": "top",
  "position": "top",
  "height": 32,
  "spacing": 0,

  "modules-left": ["hyprland/workspaces", "hyprland/window"],
  "modules-center": ["clock"],
  "modules-right": ["network", "pulseaudio", "cpu", "battery", "bluetooth", "custom/wallpaper", "custom/accent", "custom/power"],
  
  "hyprland/workspaces": {
    "format": "{id}",
    "on-click": "activate",
    "sort-by-number": true
  },

  "hyprland/window": {
    "format": "{}",
    "max-length": 40,
    "separate-outputs": true
  },

  "clock": {
    "format": "{:%a %d %b  %H:%M}",
    "tooltip-format": "<tt>{calendar}</tt>"
  },

  "network": {
    "format-wifi": "󰖩  {essid}",
    "format-ethernet": "󰈀  Wired",
    "format-disconnected": "󰖪  Off",
    "tooltip-format": "{ipaddr} — {signalStrength}%",
    "on-click": "nm-connection-editor"
 },

  "pulseaudio": {
    "format": "󰕾  {volume}%",
    "format-muted": "󰖁  Muted",
    "on-click": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle",
    "scroll-step": 5
  },

  "cpu": {
    "interval": 5,
    "format": "󰻠  {usage}%"
  },

  "battery": {
    "format": "󰁹  {capacity}%",
    "format-charging": "󰂄  {capacity}%",
    "format-discharging": "󰁹  {capacity}%",
    "states": {
      "warning": 30,
      "critical": 15
    }
  },

  "bluetooth": {
    "format": "󰂯",
    "format-connected": "󰂱  {device_alias}",
    "format-disabled": "󰂲",
    "format-off": "󰂲",
    "on-click": "blueman-manager",
    "tooltip-format": "{controller_alias}\n{num_connections} connected"
  },

  "custom/accent": {
    "format": "󰏘",
    "on-click": "/home/produser/.local/bin/accent",
    "tooltip": false
  },

  "custom/power": {
    "format": "󰐥",
    "on-click": "/home/produser/.local/bin/powermenu",
    "tooltip": false
  },
  
  "custom/wallpaper": {
    "format": "󰋩",
    "on-click": "/home/produser/.local/bin/wallpaper",
    "tooltip": false
}
  
}
